* {
  margin: 0;
  padding: 0; }

body {
  -webkit-tap-highlight-color: #00000000;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #2e3235;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover, a:active {
    cursor: pointer;
    opacity: .8 !important;
    -webkit-transform: scale(0.975);
    transform: scale(0.975); }

hr {
  width: 100%;
  border: .5px solid white;
  opacity: 0; }

ol,
ul {
  list-style: none; }

p {
  font-weight: 100;
  font-size: .95em;
  letter-spacing: .6px; }

h1, .contact ul {
  font-weight: 400;
  font-size: 1.7em; }

h2 {
  margin-top: 40px;
  font-weight: 100;
  font-size: 2.5em; }

h5 {
  margin-top: 10px;
  font-weight: 100;
  font-size: .8em; }

header {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: auto;
  text-align: center; }
  header .container {
    z-index: 9;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0; }
  header .logo {
    height: 25px; }

#coverup {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: auto;
  background-color: #262a2d;
  width: 85%;
  height: 50px; }

footer {
  z-index: 77;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 25px 0; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer ul li {
      margin: 0 2px;
      height: 1px;
      width: 30px;
      font-size: 1.5em;
      opacity: .2;
      background-color: #fff; }
    footer ul .dot-active {
      opacity: 1; }

main {
  margin-top: 70px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto; }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

section {
  min-height: 84vh;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.container {
  width: 85%;
  max-width: 1080px;
  margin: 8px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #262a2d; }

.card-hide {
  background-color: #14141420; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn,
.btn-thin {
  background-image: linear-gradient(45deg, #1b0597, #3b59ff);
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  width: 200px;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }
  .btn p,
  .btn-thin p {
    opacity: 1; }
  .btn:hover,
  .btn-thin:hover {
    -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3); }
  .btn:active,
  .btn-thin:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

.btn-thin {
  background-image: none;
  background-color: #ffffff04;
  border: 2px solid #ffffff02; }

.btn-signup {
  color: #fd6868; }

.menu .btn-thin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0;
  height: 9vh;
  max-height: 65px;
  width: 80vw;
  max-width: 400px;
  margin: 0 0 25px 0; }

.card-body {
  z-index: 10;
  height: 100%;
  max-width: 600px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.card-over,
.card-under {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.card-over {
  z-index: 2; }

#card-1-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-3.png"); }

#card-1-over {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262a2d00), to(#262a2d));
  background-image: linear-gradient(#262a2d00, #262a2d); }

#card-2-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-2.png"); }

#card-3-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-3.png"); }

#card-4-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-2.png"); }

#card-5-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-3.png"); }

#card-6-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-2.png"); }

#card-6-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-4.png"); }

.card-stat {
  margin: 40px; }
  .card-stat h2 {
    color: #fff;
    margin: 0 0 10px 0; }
  .card-stat p {
    opacity: .9; }
  .card-stat a {
    opacity: 1;
    font-weight: 400; }

.icon {
  margin-bottom: 20px;
  height: 35px; }

.menu {
  opacity: 1;
  position: fixed;
  z-index: 88;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  background-image: linear-gradient(45deg, #1b0597, #3b59ff);
  -webkit-transition: all .5s;
  transition: all .5s; }
  .menu .container {
    height: 90vh;
    margin-top: 55px;
    background-color: #00000000; }
  .menu ul {
    margin: auto;
    -webkit-transition: all .4s;
    transition: all .4s; }

.hide {
  opacity: 0;
  z-index: -11; }

.grow {
  opacity: 0;
  z-index: -11;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.no-scroll {
  height: 100%;
  overflow: hidden; }

.hero h1, .hero .contact ul, .contact .hero ul {
  font-weight: 100;
  font-size: 2.1em; }

#hero-image-wrapper,
#hero-image,
#hero-image-over {
  z-index: -9;
  height: 90vh;
  width: 100vw;
  position: absolute;
  position: fixed; }

#hero-image {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-0.png"); }

#hero-image-over {
  z-index: -5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262a2d00), to(#2e3235));
  background-image: linear-gradient(#262a2d00, #2e3235); }

.contact hr {
  margin: 45px 0; }

.contact p {
  font-size: .9em;
  opacity: 1; }

.contact ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contact ul li {
    padding: 10px;
    font-size: .7em; }

.contact .address {
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1.5px; }

#widget {
  margin: 40px 0;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  height: 200px;
  background-color: #2e3235; }
