* {
  margin: 0;
  padding: 0; }

body {
  -webkit-tap-highlight-color: #00000000;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #262a2d;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover, a:active {
    opacity: .9;
    -webkit-transform: scale(0.975);
    transform: scale(0.975); }

ol,
ul {
  list-style: none; }

p {
  font-weight: 100;
  font-size: .92em;
  letter-spacing: .6px; }

header {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: auto;
  text-align: center; }
  header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

footer {
  z-index: 9;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262a2d00), to(#262a2d));
  background-image: linear-gradient(#262a2d00, #262a2d); }

main {
  margin-top: 75px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto; }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

section {
  height: 88vh; }

.container {
  width: 85%;
  background-color: #262a2d;
  margin: 8px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.card {
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.card-body {
  height: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn {
  background-image: linear-gradient(45deg, #0224c3, #025dd6);
  border-radius: 100px;
  padding: 16px;
  margin-top: 30px;
  width: 200px;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }
  .btn p {
    opacity: 1; }
  .btn:hover {
    -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3); }
  .btn:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
