* {
  margin: 0;
  padding: 0; }

body {
  -webkit-tap-highlight-color: #00000000;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #262a2d;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover, a:active {
    cursor: pointer;
    opacity: .8 !important;
    -webkit-transform: scale(0.975);
    transform: scale(0.975); }

ol,
ul {
  list-style: none; }

p {
  font-weight: 100;
  font-size: .92em;
  letter-spacing: .6px; }

header {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: auto;
  text-align: center; }
  header .container {
    z-index: 9;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0; }
  header .logo {
    height: 25px; }

#coverup {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: auto;
  background-color: #262a2d;
  width: 85%;
  height: 50px; }

footer {
  z-index: 77;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 25px 0; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer ul li {
      margin: 0 2px;
      height: 1px;
      width: 30px;
      font-size: 1.5em;
      opacity: .2;
      background-color: #fff; }
    footer ul .dot-active {
      opacity: 1; }

main {
  margin-top: 80px;
  margin-bottom: 40px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto; }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

section {
  height: 84vh;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.container {
  width: 85%;
  margin: 8px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #262a2d; }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.btn {
  background-image: linear-gradient(45deg, #1b0597, #1c3eff);
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  width: 200px;
  -webkit-box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 30px -6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }
  .btn p {
    opacity: 1; }
  .btn:hover {
    -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.3); }
  .btn:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

.btn-thin {
  padding: 25px 0;
  width: 82vw;
  background-image: none;
  background-color: #ffffff04;
  border: 2px solid #0000c92a; }

.card-body {
  z-index: 10;
  height: 100%;
  max-width: 600px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.card-over,
.card-under {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.card-over {
  z-index: 2; }

#card-1-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-1.png"); }

#card-1-over {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#262a2d00), to(#262a2d));
  background-image: linear-gradient(#262a2d00, #262a2d); }

#card-2-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-2.png"); }

#card-3-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-3.png"); }

#card-4-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-4.png"); }

.icon {
  margin-bottom: 20px;
  height: 35px; }

.menu {
  opacity: 1;
  position: fixed;
  z-index: 88;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  background-image: linear-gradient(45deg, #1b0597, #1c3eff);
  -webkit-transition: all .5s;
  transition: all .5s; }
  .menu .container {
    height: 65vh;
    margin-top: 95px;
    background-color: #00000000; }
  .menu ul {
    margin: auto;
    -webkit-transition: all .4s;
    transition: all .4s; }

.hide {
  opacity: 0;
  z-index: -11; }

.grow {
  opacity: 0;
  z-index: -11;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.no-scroll {
  height: 100%;
  overflow: hidden; }
