@import "variables";
// Reset
* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: #00000000;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: $colour-background;
  font-family: $font-primary;
  color: #fff;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  transition: $transition;
  &:hover,
  &:active {
    cursor: pointer;
    opacity: .8 !important;
    transform: scale(.975);
  }
}

ol,
ul {
  list-style: none;
}

// Fonts
p {
  font-weight: 100;
  font-size: .92em;
  letter-spacing: .6px;
}

// Header
header {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: auto;
  text-align: center;
  .container {
    z-index: 9;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .logo {
    height: 25px;
  }
}

#coverup {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: auto;
  background-color: $colour-background;
  width: 85%;
  height: 50px;
}

// Footer
footer {
  z-index: 77;
  width: 100%;
  position: fixed;
  top: auto;
  bottom: 0;
  padding: 25px 0; // background-image: $gradient-footer;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 2px;
      height: 1px;
      width: 30px;
      font-size: 1.5em;
      opacity: .2;
      background-color: #fff;
    }
    .dot-active {
      opacity: 1;
    }
  }
}

// Theme
main {
  margin-top: 80px;
  margin-bottom: 40px;
  flex-grow: 1;
  overflow: auto;
  .container {
    flex-direction: column;
  }
}

section {
  height: 84vh;
  transition: $transition;
}

.container {
  width: 85%; // max-width: $container-width;
  margin: $margin-container;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: $shadow;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $colour-background;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

// Buttons
.btn {
  background-image: $gradient-blu;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  width: 200px;
  box-shadow: $shadow-light;
  transition: $transition;
  cursor: pointer;
  p {
    opacity: 1;
  }
  &:hover {
    box-shadow: $shadow-hover;
  }
  &:active {
    transform: scale(.95);
  }
}

.btn-thin {
  // box-shadow: $shadow;
  padding: 25px 0;
  width: 82vw;
  background-image: none;
  background-color: #ffffff04;
  border: 2px solid #0000c92a;
}

// Cards
.card-body {
  z-index: 10;
  height: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-over,
.card-under {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-over {
  z-index: 2;
}

#card-1-under {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-1.png");
}

#card-1-over {
  background-image: $gradient-footer;
}

#card-2-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-2.png");
}

#card-3-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-3.png");
}

#card-4-over {
  background-size: cover;
  background-position: center;
  background-image: url("../img/card-4.png");
}

// Icons
.icon {
  margin-bottom: 20px;
  height: 35px;
}

// Menu
.menu {
  opacity: 1;
  position: fixed;
  z-index: 88;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000ff;
  background-image: $gradient-blu;
  transition: all .5s;
  .container {
    height: 65vh;
    margin-top: 95px;
    background-color: #00000000;
  }
  ul {
    // font-weight: 900;
    margin: auto;
    transition: all .4s;
  }
}

.hide {
  opacity: 0;
  z-index: -11;
}

.grow {
  opacity: 0;
  z-index: -11;
  transform: scale(0.5);
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}